
.vs/

FlashParcsLite/bin/

FlashParcsLite.Data/bin/

FlashParcsLite/ClientApp/node_modules/

FlashParcsLite/ClientApp/dist/

FlashParcsLite.API/bin/

Tests/FlashParcsLite.Tests.Unit/bin/

Tests/FlashParcsLite.Tests.Integration/bin/
